<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <div id="header">
        <h1>Welcome to learning English with Callan Method</h1>
    </div>
    <div sec:authorize="isAnonymous()">
        <a th:href="@{/login}">Sign in</a> | <a th:href="@{/registration}">Sign up</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">Log out</a>
    </div>
</body>
</html>
